streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
numpy
opencv-python-headless  # ✅ Replace 'opencv-python' with 'opencv-python-headless'
pillow
chromadb
pdf2image
faiss-cpu
langchain_google_genai
streamlit-webrtc
pyzbar
